.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    width: var(--default-layout-width);
    max-width: 100%;
    padding: 0 var(--default-layout-horizontal-spacer);
    margin-top: var(--default-layout-header-height);
}

.content {
    flex: 1;
    margin-left: var(--default-layout-sidebar-width);
}

@media (max-width: 739px) {
    .content {
        margin-left: 0;
    }
    .container {
        padding: 0;
    }
}
