.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - var(--default-layout-header-height));
    min-height: 1000px;
    width: 100%;
    gap: 24px;
    scroll-snap-align: start; /* 👈 Dính khi chạm đỉnh */
}
